<h1>Listing merchants</h1>

<table>
  <tr>
    <th>Store name</th>
    <th>Street</th>
    <th>Postal code</th>
    <th>City</th>
    <th>Describtion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @merchants.each do |merchant| %>
  <tr>
    <td><%= merchant.store_name %></td>
    <td><%= merchant.street %></td>
    <td><%= merchant.postal_code %></td>
    <td><%= merchant.city %></td>
    <td><%= merchant.describtion %></td>
    <td><%= link_to 'Show', merchant %></td>
    <td><%= link_to 'Edit', edit_merchant_path(merchant) %></td>
    <td><%= link_to 'Destroy', merchant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Merchant', new_merchant_path %>
